.banner-bg{
    background-image: url("https://doccure-react.dreamguystech.com/template/d368ebab89d653715a96b31ead9de731.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
